* {
    /* box-sizing: border-box; */
}
body {
    background-image: url(../images/intersection.png);
}

ul {
    position: relative;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0 230px 0 0; 
    padding: 1.8em;
    overflow: hidden;
    border-bottom: 1px solid darkgray;
}

li {
    float: right;
    text-align: center;
    margin-left: 1em;
    color: #777777;
}

h1 {
    float: left;
    position: relative;
    text-align: center;
    background-color: #4aaaa5;
    color: whitesmoke;
    display: block;
    padding: 22px;
    height: 32px;
    top: 0;
    left: 0;
    margin: 0 0 0 230px;
    overflow: hidden;
    z-index: 3;
    border-bottom: 1px solid darkgray;
}

h2 {
    color: #4aaaa5;
    font-size: 35px;
}

p {
    color: #777777;
    margin: 1em;
}

form {
    color: #777777;
}

button {
    background-color: #4aaaa5;
    color: whitesmoke;
}

.content {
    position: relative;
    margin-top: 30px;
    margin-left: 230px;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    /* display: block; */
    padding: 1.5em;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    color: white;
    margin: 0 auto;
}

li a {
    padding: 30px;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

li a:hover {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#placeholder0 {
    float: left;
}

#about {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#portfolio {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#contacts {
    background-color: #4aaaa5;
    color: whitesmoke;
}