* {
    /* box-sizing: border-box; */
}
body {
    background-image: url(../images/intersection.png);
    margin: 0; 
}
                                                                                  /* navbar */
ul {
    position: relative;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0; 
    padding: 1.8em;
    height: 19px;
    /* overflow: hidden; */
    border-bottom: 1px solid darkgray;
}

li {
    position: relative;
    float: right;
    right: 230px;
    align-content: center;
    margin-left: 1em;
    color: #777777;
    margin-top: 0;
}

li a {
    padding: 30px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    margin-top: 0;

}

li a:hover {
    background-color: #4aaaa5;
    color: whitesmoke;
}
                                                                                /* name in heading */
h1 {
    float: left;
    position: relative;
    text-align: center;
    font-size: 30px;
    background-color: #4aaaa5;
    color: whitesmoke;
    display: block;
    padding: 22px;
    height: 32px;
    top: 0;
    left: 230px;
    margin: 0;
    overflow: hidden;
    z-index: 3;
    border-bottom: 1px solid darkgray;
}

h2 {
    color: #4aaaa5;
    font-size: 35px;
    margin-left:  2em;
    margin-right: 2em;
}

p {
    color: #777777;
    margin: 1em;
    line-height: 2;
}

form {
    color: #777777;
    margin: 20px;
    
}

hr {
    margin: 2em;
}

#inputName {
    width: 100%;
}

#inputEmail {
    width: 100%;
}

#inputMessage {
    width: 100%;
    
}

button {
    background-color: #4aaaa5;
    color: whitesmoke;
    margin: 20px;
}

.content {
    position: relative;
    margin-top: 30px;
    margin-left: 230px;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    /* display: block; */
    padding: 1.5em;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    color: white;
    margin: 0 auto;
}




#placeholder0 {
    float: left;
}
        /* navbar fixed color */
#about {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#portfolio {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#contacts {
    background-color: #4aaaa5;
    color: whitesmoke;
}

h5 {
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
    font-size: 10px;
}